snippet html "html 5 header" b
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
	<meta charset="utf-8">
	<title>$1</title>
	<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>

	$2

	</body>
</html>
endsnippet
