next_page                   J
previous_page               K
zoom_in                     <C-j>
zoom_out                    <C-k>
move_left                   l
move_right                  h
toggle_dark_mode            d
toggle_statusbar            <C-d>
goto_page_with_page_number  F
add_highlight               H
delete_highlight            DH
