status_bar_font_size                    10
default_dark_mode                       1
ui_font                                 16
font_size                               16
startup_commands                        toggle_statusbar
link_highlight_color                    0.0 1.0 1.0
should_launch_new_window                1
