status_bar_font_size                    10
ui_font                                 16
font_size                               16
startup_commands                        toggle_statusbar;toggle_dark_mode
link_highlight_color                    0.0 1.0 1.0
should_launch_new_window                1
case_sensitive_search                   1
page_separator_width                    1
page_separator_color                    0.3 0.3 0.3
